@import "../../assets/styles/colors";

.filter-tag {
	background: rgb(255, 255, 255);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	font-family: "Secular One", sans-serif;
	font-size: 0.8rem;
	margin: 0.2rem;
	padding: 2px 5px;

	$colors: (
		"red": $tag-red ,
		"yellow": $tag-yellow ,
		"green": $tag-green ,
		"tiel": $tag-tiel ,
		"purple": $tag-purple ,
		"majenta": $tag-majenta ,
		"pink": $tag-pink ,
		"black": $tag-black ,
		"white": $tag-white ,
	);

	@each $name, $bg in $colors {
		&.#{$name} {
			background: $bg;
			color: black
		}
	}

	.delete-tag {
		cursor: pointer;
		height: 1rem;
		width: 1rem;
	}
}
