@import "../../assets/styles/colors";

    .color-tile {
        height: 3rem;
        width: 3rem;
        margin: 0.5rem;
        padding: 0;
        cursor: pointer;
        border: none;
        outline: none;
        border-radius: 5px;
        box-shadow: 0 1px 2px rgba(44, 45, 49, 0.315);
        position: relative;
        &:after {
            content: "";
            height: 3rem;
            width: 3rem;
            background: rgb(255, 255, 255);
            display: block;
            transform: translateY(0);
            transition: all ease-in-out 0.3s;
            border-radius: 5px;
            z-index: -1;
        }
        svg {
            position: absolute;
            z-index: 2;
            transform: translate(-50%, 20%);
            transition: all ease-in-out 0.3s;
            padding: 0.35rem;
            border-radius: 5px;

        }

        &.selected {
            svg {
                transform: translate(-50%, -10%);
            }
            &:after {
                transform: translateY(-20%);
            }
        }

        $colors: (
            "red": $tag-red,
            "yellow": $tag-yellow,
            "green": $tag-green,
            "tiel": $tag-tiel,
            "purple": $tag-purple,
            "majenta": $tag-majenta,
            "pink": $tag-pink,
        );

        @each $name, $color in $colors {
            &.#{$name} {
                background: mix($color, rgb(29, 18, 18), 80%);
                &:after {
                    background: $color;
                }
                svg {
                    background:mix($color, rgb(29, 18, 18), 70%);
                    fill: $color;
                }
            }
        }
    }