:root {
  // FONTS
  --c-font-primary: hsl(0, 0%, 13%);
  --c-font-secondary: hsl(0, 0%, 34%);

  // ACCENT
  --c-accent-primary: hsl(184, 77%, 42%);
  --c-accent-secondary: hsl(184, 69%, 75%);

  // DARK
  --c-metal-1: hsl(195, 4%, 21%);
  --c-metal-2: hsl(200, 2%, 24%);
  --c-metal-3: hsl(195, 3%, 29%);
  --c-metal-4: hsl(195, 2%, 33%);
  --c-metal-5: hsl(195, 2%, 37%);
  --c-metal-6: hsl(195, 2%, 42%);

  // LIGHT
  --c-iceberg-1: hsl(189, 15%, 73%);
  --c-iceberg-2: hsl(191, 30%, 93%);
  --c-iceberg-3: hsl(192, 29%, 80%);
  --c-iceberg-4: hsl(192, 33%, 97%);
  --c-iceberg-5: hsl(193, 29%, 91%);
  --c-iceberg-6: hsl(194, 29%, 86%);

  // OTHER
  --c-downy-1: hsl(199, 36%, 54%);
  --c-red-1: hsl(0, 100%, 64%);
}

[data-theme="DARK"] {
  --c-font-primary: hsl(0, 0%, 99%);
  --c-font-secondary: hsl(0, 0%, 82%);
}
