@import "../../assets/styles/colors";
.task-column {
  display: flex;
  flex-direction: column;
  background-color: $blue-primary-overlay;
  border-radius: 10px;
  margin: 0 0.5rem;
  padding: 0.2rem 0.5rem;
  font-family: 'Secular One', sans-serif;
  
  .task-column-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.2rem 0;
    .task-column-name{
      margin: 0;
      margin-left: 0;
      margin-right: auto;
      font-size: 1rem;
      margin-left: 0.5rem;
      color: darken($blue-primary-overlay, 60%);
    }
    .add-new-task-btn, .more-options {
      border: none;
      color: darken($blue-primary-overlay, 50%);
      font-size: 1.4rem;
      font-family: 'Secular One', sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      margin: 0 3px;
      border-radius: 5px;
      height: 1.5rem;
      width: 1.5rem;
      background-color: transparent;
      svg {
        $icon-size: 1.2rem;
        width: $icon-size;
        height: $icon-size;
      }
    }
    .add-new-task-btn {
      background: darken($blue-primary-overlay, 11%);
    }
  }
}