.user-card {
  --_user-card-bg-color: white;
}
.user-card {
  background: var(--_user-card-bg-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2px;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.247);
  max-width: 30rem;
  &__avatar {
    $avatar-size: 1.5rem;
    height: $avatar-size;
    width: $avatar-size;
    object-fit: cover;
    border-radius: 3px;
  }
  &__username {
    margin-left: 7px;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--c-font-primary);
  }
  &__buttons {
    display: flex;
    flex-direction: row;
    color: black;
    fill: black;
  }
}
