.board-members-modal {
	max-width: 18rem;
	margin: 2rem auto 0;
	.auto-complete-input-wrapper {
		margin-bottom: 2rem;
	}

	.user-container {
		min-height: 20rem;
		.user-card {
			margin-left: 0;
			margin-right: 0;
		}
	}
	.loading-overlay {
		min-height: 20rem;
	}
}

.drop-down-menu.user-roles {
	.drop-down-menu__item > div {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		svg {
			height: 0.9rem;
			width: 0.9rem;
			margin-right: 0.3rem;
		}
	}
}

.theme-dark.drop-down-menu.user-roles {
	svg {
		fill: white;
		color: white;
	}
}
