.board-container {
    &__boards {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        flex-wrap: wrap;
    }
    &__empty-message {
        display: flex;
        justify-content: center;
        width: 70vw;
        color: var(--c-font-secondary);
    }
    &__pagination {
        margin-top: 1rem;
    }

    &__loading.loading-overlay {
        min-height: 20vh;
    }
}
