@import "../../../assets/styles/mixins";

.board-container {
    &__boards {
        --_grid-size: 5;
        display: grid;

        @include breakpoint(large) {
            --_grid-size: 4;
        }
        @include breakpoint(medium) {
            --_grid-size: 3;
        }
        @include breakpoint(small) {
            --_grid-size: 2;
        }
        @include breakpoint(mobile) {
            --_grid-size: 1;
        }
        grid-template-columns: repeat(var(--_grid-size), minmax(12rem, 1fr));
        gap: 1rem;
    }
    &__empty-message {
        display: flex;
        justify-content: center;
        width: 70vw;
        color: var(--c-font-secondary);
    }
    &__pagination {
        margin-top: 1rem;
    }

    &__loading.loading-overlay {
        min-height: 20vh;
    }
}
