.board-container {
    &__boards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
        gap: 1rem;
    }
    &__empty-message {
        display: flex;
        justify-content: center;
        width: 70vw;
        color: var(--c-font-secondary);
    }
    &__pagination {
        margin-top: 1rem;
    }

    &__loading.loading-overlay {
        min-height: 20vh;
    }
}
