@import "../../../assets/styles/colors";

%field-style {
  margin-top: 1.5rem;
  background-color: $light-blue-1;
  position: relative;
  border: none;
  font-size: 1rem;
  padding: 0.7rem 0.5rem;
  outline: none;
  border-bottom: 2px solid rgba(0, 0, 255, 0);
  border-radius: 0;
  transition: all 0.2s ease-in-out;
  &:focus,
  &:hover {
    border-color: $blue-accent;
  }
}

.text-field {
  display: flex;
  flex-direction: column;
  position: relative;

  &__textarea {
    @extend %field-style;
    font-family: inherit;
    resize: none;
  }

  &__input {
    @extend %field-style;
  }
  &__line {
    transform: translateY(-2px);
    width: 0;
    margin: 0 auto;
    margin-bottom: 1rem;
    display: block;
    border-top: solid 3px $blue-accent;
    transition: all 0.3s ease-in-out;
  }

  &__input:focus + &__line {
    width: 100%;
  }

  &__input:disabled {
    border-color: transparent;
  }

  &__label {
    margin-bottom: 0.1rem;
    font-size: 1rem;
    position: absolute;
    transform: translate(0.5rem, 2.1rem);
    transition: all 0.2s ease-in-out;
    pointer-events: none;
    color: $text-primary;
  }

  &__input:focus + &__label {
    font-size: 0.8rem;
    transform: translate(0, 0.25rem);
    color: $blue-accent;
  }

  &__valid {
    transform: translate(0, 0.25rem);
    font-size: 0.9rem;
    color: darken($gray-1, 25%);
  }

  &__error {
    margin-top: 0.3rem;
    color: red;
    font-size: 0.7rem;
    position: absolute;
    bottom: 0;
  }
}

.theme-dark {
  .text-field {
    &__input,
    &__textarea {
      color: white;
      background-color: $dark-1;
      &:focus,
      &:hover {
        border-color: $blue-accent-dark;
      }
    }
    &__line {
      border-color: $blue-accent-dark;
    }
    &__label {
      color: $text-primary-dark;
    }
    &__valid {
      color: $blue-accent-dark;
    }
    &__input:focus + &__label {
      color: $blue-accent-dark;
    }
    &__error {
      color: rgb(255, 109, 109);
    }
  }
}
