$option-height: 2rem;

.async-search {
  display: block;
  position: relative;
  &__options {
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    background-color: gray;
    max-height: $option-height * 5;
    overflow-y: auto;
  }
  &__option {
    height: $option-height;
    display: flex;
    align-items: center;
    padding: 0.4rem 0.4rem;
    cursor: pointer;
    &:hover {
      background-color: whitesmoke;
    }
    &--disabled {
      background-color: red;
      &:hover {
        background-color: orange;
      }
    }
  }
}
