@import "../assets/styles/colors";
@import "../assets/styles/mediaQueries";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Secular+One&display=swap");
@import "../assets/styles/globalStyles";

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  overflow-y: scroll !important;
}
html,
body {
  height: 100%;
}
html {
  overflow: hidden;
}

code {
  font-family: "Secular One", sans-serif;
}

#root {
  height: 100%;
}

.App {
  min-height: 100%;
  background-color: $gray-bg;

  .loading-overlay.authentication-loading {
    min-height: 80vh;
  }
}

.theme-dark .App {
  background-color: $gray-bg-dark;
}
