.auto-complete-input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  position: relative;
  box-sizing: border-box;
  background: lightblue;
  padding: 5px;
  border-radius: 3px;

  .search-input {
    background: transparent;
    border: none;
    flex-grow: 1;
    outline: none;
  }
  .search-result-container {
    background: lightblue;
    top: 2rem;
    position: absolute;
    width: 100%;
    overflow: hidden;
    border-radius: 0 0 7px 7px;

    .search-result-item {
      box-sizing: border-box;
      padding: 4px;
      background: darken(lightblue, 10%);
      margin-bottom: 2px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        background: darken(lightblue, 15%);
      }
    }
  }
}
