.board-members-modal {

    .auto-complete-input-wrapper {
        margin-bottom: 2rem;
    }

    .user-container {
        min-height: 20rem;
        .user-card {
            margin-left: 0;
            margin-right: 0;
        }
    }
   
}