.board-options {
  span svg {
    color: inherit;
  }
  &__menu {
    .drop-down-menu {
      &__item {
        justify-content: flex-start;
        svg {
            margin-right: 0.4rem;
            height: 0.8rem;
        }
      }
    }
  }
}
