@import "../../../assets/styles/colors";
@import "../../../assets/styles/variables";
@import "../../../assets/styles/mediaQueries";

.navbar {
  background: $white-1;
  height: $navbar-height;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem 1rem;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 1rem;
  z-index: 50;
  position: relative;

  .nav-item {
		.MuiSvgIcon-root {
			height: 1.35rem;
		}

		.MuiBadge-colorSecondary {
			background: $blue-accent;
			transform: scale(1) translate(10%, -10%);
		}
		.MuiBadge-invisible {
			transform: scale(0) translate(10%, -10%);
		}
	}
	.profile-setting-drop-down-menu {
		transform: translateX(7%);
	}
	.switch-button {
		margin-right: 0.5rem;
	}
}

.theme-dark {
  .navbar {
    background: $dark-1;
  }

  .nav-item .MuiBadge-colorSecondary  {
    background: $blue-accent-dark;
  }
}

.notification-nav.drop-down-menu {
	transform: translate(-16.5rem, 2rem);
	width: 18rem;
	.drop-down-menu__-item {
		padding: 0;
		height: 4rem;
	}
}

.profile-nav {
	@include mobile {
		span {
			display: none;
		}
	}
	&.drop-down-menu {
		transform: translate(-1rem, 2rem);
		.drop-down-menu__item {
		padding: 0;
		& > * {
			padding: 0.2rem 0.6rem;
			cursor: pointer;
		}
		}
	}
	.logout-btn {
		background: none;
		border: none;
		font-family: "Roboto", sans-serif;
		font-size: 1rem;
		padding: 0;
	}
}
