.user-manager {
  display: flex;
  flex-direction: column;
  &__users {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    height: 120px;
    overflow: auto;
    gap: 0.2rem;
  }
  &__no-content-msg {
    color: #2222;
  }
}

.theme-dark {
  .user-manager__no-content-msg {
     color: rgb(156, 156, 156);
  }
}
