@import "../../../../assets/styles/colors";

.user-manager {
  display: flex;
  flex-direction: column;
  &__users {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    height: 120px;
    overflow: auto;
    gap: 0.2rem;
  }
  &__no-content-msg {
    color: #2222;
  }
  .remove-user-icon {
    cursor: pointer;
    color: $black-1;
    transition: all 0.2s ease-in-out;
    &:hover {
      color: lighten($black-1, 20%);
    }
  }
}

.theme-dark {
  .user-manager__no-content-msg {
     color: rgb(156, 156, 156);
  }
}
