.profile-nav.drop-down-menu {
  transform: translate(1rem, 2rem);
  width: 7rem;
}

.notification-nav.drop-down-menu {
  transform: translate(-16.5rem, 2rem);
  width: 18rem;
}

.navbar__item {
  $nav-item: &;

  &.notification-nav.badge {
    #{$nav-item}__icon::after {
      content: "";
      background-color: var(--color-accent-primary);
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 5rem;
      position: absolute;
      transform: translate(9px, -8px);
    }
  }
}

.profile-nav .drop-down-menu__item,
.profile-nav .drop-down-menu__item * {
  gap: 0.3rem;
}
