@import "../../assets/styles/colors";
@import "../../assets/styles/mediaQueries";

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  @include mq-1 {
    flex-direction: column;
    align-items: center;
  }
  & > * {
    margin: 1rem;
  }


  .task-column-section {
    display: flex;
    place-items: center;

    .task-text {
      h1 {
        font-size: 3rem;
        color: #222222;
        margin: 0;
        margin-bottom: 1rem;
      }
      h2 {
        margin: 0;
        font-size: 2rem;
        color: #555555;
        
      }
    }

    .task-columns-img {
      $image-size: 40rem;
      width: $image-size;
      height: $image-size;
    }
  }

  .introduction-section {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;

    .text-subsection {
      margin-left: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      .main-text {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
        .home-page-title {
          font-size: 4rem;
          margin: 0;
        }
        h2 {
          margin: 0;
          font-size: 3rem;

        }
      }
  
      .home-page-description {
        color: $text-secondary;
        text-align: center;
        margin: 0;
        max-width: 700px;
      }
      .call-to-action {
        margin-top: 3rem;
        display: flex;
        flex-direction: row;
        place-items: center;
        .call-toaction-text {
          margin: 0;
          font-size: 1.5rem;
          margin-right: 0.5rem;
        }
        .btn-accent {
          font-size: 1.2rem;
        }
      }
     
    }
    .home-page-title, .home-page-description {
      font-family: 'Secular One', sans-serif;
    }
    #person-image {
      $image-size: 25rem;
      width: $image-size;
      height: $image-size;
      @include mq-1 {
        $image-size: 16rem;
        width: $image-size;
        height: $image-size;
      }
    }
  }


  .task-columns-img {

  }

}

.theme-dark {
  .welcome-section {
    .home-page-title {
      color: $text-primary-dark;
    }
    .home-page-description {
      color: darken($text-secondary-dark, 20%);
    }
    
  }
}