@import "../../../assets/styles/mediaQueries";
@import "../../../assets/styles/colors";

.board-container {
  &__boards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    @include mq-1 {
      grid-template-columns: repeat(2, 1fr);
    }
    @include mobile {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  &__empty-message {
    display: flex;
    justify-content: center;
    width: 70vw;
    color: $black-1;
  }
  &__loading.loading-overlay {
    min-height: 20vh;
  }
}

.theme-dark {
  .board-container {
    &__empty-message {
      color: $text-secondary;
      width: 70vw;
    }
  }
}