@import "../../assets/styles/mediaQueries";
@import "../../assets/styles/colors";

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__image {
    $avatar-size: 10rem;
    width: $avatar-size;
    height: $avatar-size;
    position: relative;
    margin-bottom: 1rem;

    img {
      width: $avatar-size;
      height: $avatar-size;
      border-radius: 7px;
      object-fit: cover;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.252);
    }

    &__btn {
      cursor: pointer;
      height: 1.2rem;
      width: 1.2rem;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(0, 0, 0, 0.217);
      border-radius: 5px;
      border: none;
      position: absolute;
      bottom: 0.5rem;
      right: 0.5rem;
      transition: 0.2s ease-in-out all;
      &:hover {
        background: rgba(255, 255, 255, 0.4);
        svg {
          color: rgb(49, 49, 49);
        }
      }
      svg {
        height: 1rem;
        width: 1rem;
        color: rgba(255, 255, 255, 0.8);
        transition: 0.2s ease-in-out all;
      }
    }
  }

  &__inputs {
    margin-bottom: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    .btn-edit {
      grid-column: 1/3;
    }

    @include mq-1 {
      grid-template-columns: 1fr;
      .btn-edit {
        grid-column: auto;
      }
    }
  }
}
