@import "../../../assets/styles/colors";

.loading-overlay {
	background: rgb(255, 255, 255);
	position: relative;
	z-index: 80;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;

	.loading-overlay-spinner {
		opacity: 1;
		$spinner-size: 3rem;
		height: $spinner-size;
		width: $spinner-size;
		circle {
			stroke: $blue-accent;
		}
	}
}

.theme-dark .loading-overlay {
	background: rgb(71, 74, 75);
	.loading-overlay-spinner circle {
		stroke: $blue-accent-dark;
	}
}
