.add-new-column {
  --_input-bg-color: var(--c-iceberg-5);
  --_input-border-color: var(--c-iceberg-3);
}

[data-theme="DARK"] .add-new-column {
  --_input-bg-color: var(--c-metal-4);
  --_input-border-color: var(--c-metal-2);
}

.add-new-column {
  display: flex;
  flex-direction: column;
  background-color: var(--_input-bg-color);
  border-radius: 10px;
  margin: 0 0.5rem;
  padding: 0.4rem 0.5rem;
  width: 250px;
  height: 2.7rem;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 2px var(--_input-border-color) dashed;

  input {
    outline: none;
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    margin: 0 0.5rem;
    font-weight: 600;
    &::placeholder {
      color: var(--c-font-secondary);
    }
  }
}
