@import "../../assets/styles/colors";
@import "../../assets/styles/variables";

.theme-dark {
  .board-page {
    &__title {
      color: $text-primary-dark;
    }
    &__controlls {
      .board-options {
        color: lighten(#222222, 30%);
        &:hover {
          background-color: rgba($dark-1, 0.5);
        }
      }
    }
  }
}
