@import "../../assets/styles/colors";
@import "../../assets/styles/variables";
.task-loading {
  position: relative;
  min-height: calc(100vh - #{$navbar-height} - #{$footer-height} - 3.5rem);
}
.board-page {
  margin: 0 1rem;
  min-height: calc(100vh - #{$navbar-height} - #{$footer-height} - 3.5rem);
  display: flex;
  flex-direction: column;
  &__title {
    margin: 2rem 1rem;
    font-family: "Secular One", sans-serif;
    color: $text-secondary;
  }
  &__controlls {
    margin: 1rem 0.5rem;
    display: flex;
    flex-direction: row;
    .MuiSvgIcon-root {
      height: 1rem;
    }
    .board-options {
      display: flex;
      justify-content: center;
      align-items: center;
      .MuiSvgIcon-root {
        height: 1.4rem;
        width: 1.4rem;
        color: #222222;
        cursor: pointer;
      }
    }
  }

  .task-board {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    padding: 1rem 0;
    flex-grow: 1;
    flex-grow: 1;

    &__task-row {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      height: 100%;
      & > div {
        height: 100%;
      }
    }
  }
}
