@import "../../assets/styles/colors";
@import "../../assets/styles/mediaQueries";

body {
  background-color: $gray-bg;
}

.navbar {
  .nav-item {
    .MuiSvgIcon-root {
      height: 1.35rem;
    }
    &.profile-nav {
      @include mobile {
        span {
          display: none;
        }
      }
      .drop-down-menu {
        transform: translateX(5%);
      }
      .logout-btn {
        background: none;
        border: none;
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        padding: 0;
      }
    }
    &.notification-nav {
      .drop-down-menu {
        transform: translateX(-80%);
        width: 14rem;
        .drop-down-menu-item {
          padding: 0;
          height: 4rem;
        }
      }
    }
    .MuiBadge-colorSecondary {
      background: $blue-accent;
      transform: scale(1) translate(10%, -10%);
    }
    .MuiBadge-invisible {
      transform: scale(0) translate(10%, -10%);
    }
  }
  .profile-setting-drop-down-menu {
    transform: translateX(7%);
  }
}