@import "../../../../assets/styles/colors";
.board-user {
  position: relative;
  .user-type {
    .owner-icon {
      fill: white;
      background: $blue-accent;
      padding: 0.2rem;
      height: 1rem;
      width: 1rem;
      border-radius: 2px;
      cursor: default;
    }
  }
  .user-card {
    .user-option-menu {
      transform: translate(-1rem, 0);
    }

  }
}

.drop-down-menu.user-roles {
  margin-left: 4px;
  .drop-down-menu__item {
    padding: 0.2rem 0.4rem;
    & > div {
      justify-content: flex-start;
    }
    svg {
      $icon-size: 1rem;
      width: $icon-size;
      height: $icon-size;
      margin-right: 0.5rem;
    }
    span {
      font-weight: bold;
    }
  }
}

.theme-dark .board-user{
  .owner-icon {
    fill: $dark-1;
      background: $blue-accent-dark;
  }
  .user-type {
    fill: white;
    
  }
  .option-more {
    color: $dark-1;
  }
}