@import "../../../../assets/styles/colors";

$colors: (
  "red" $tag-red white,
  "yellow" $tag-yellow rgb(49, 30, 23),
  "green" $tag-green white,
  "tiel" $tag-tiel rgb(61, 61, 61),
  "purple" $tag-purple white,
  "majenta" $tag-majenta black,
  "pink" $tag-pink black,
  "black" $tag-black white,
  "white" $tag-white black
);

.tag-manager {
  display: flex;
  flex-direction: column;
  max-height: 7.9rem;
  overflow: auto;
  &__item {
    background-color: rgb(218, 143, 143);
    padding: 0.56rem 0.4rem;
    font-weight: bold;
    margin: 1px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    box-sizing: border-box;
    cursor: pointer;

    @each $name, $bg, $textColor in $colors {
      &--#{$name} {
        background: $bg;
        color: $textColor;
      }
      &--#{$name}:hover {
        background: darken($bg, 10%);
      }
    }
  }
  &__no-content-msg {
    color: #2222;
  }
}

.theme-dark {
  .tag-manager__no-content-msg {
    color: rgb(156, 156, 156);
  }
}
