@import "../assets/styles/colors";
@import "../assets/styles/mediaQueries";

.App {
	background-color: $gray-bg;
	&.theme-dark {
		background-color: $gray-bg-dark;
	}

	.main-content {
		display: flex;
		flex-direction: row;
	}
	.authentication-loading {
		position: relative;
		height: 80vh;
	}
}


