$header-height: 3rem;
$row-height: 4.5rem;

.role-table {
    --_header-color: var(--c-iceberg-2);
    --_background-color: white;
    --_outline-color: var(--c-iceberg-4);
    --_role_circle: var(--c-iceberg-4);
}

[data-theme="DARK"] .role-table {
    --_header-color: var(--c-metal-2);
    --_background-color: var(--c-metal-5);
    --_outline-color: var(--c-metal-6);
    --_role_circle: var(--c-metal-6);
}

.role-table {
    display: flex;
    flex-direction: row;
    background-color: var(--_background-color);
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);

    &__row {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0.3rem;
        height: $row-height;
        padding: 0 0.7rem;
        border: 1px var(--_outline-color) solid;
    }

    &__grouped-column {
        display: flex;
        flex-direction: row;
    }

    &__header {
        background-color: var(--_header-color);
        padding: 0 0.7rem;
        white-space: nowrap;
        height: $header-height;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px var(--_outline-color) solid;
        font-weight: bold;
        color: var(--c-font-primary);
    }

    &__body {
        display: flex;
        flex-direction: row;
        overflow-x: auto;

        .role-table__row {
            justify-content: center;
        }
    }

    &__column {
        flex-grow: 1;
    }

    & > &__column:first-child {
        color: var(--c-font-secondary);
        .role-table__header {
            height: $header-height * 2;
        }
    }

    .role-circle {
        background-color: var(--_role_circle);
        padding: 1rem;
        border-radius: 50%;
        height: 3rem;
        width: 3rem;

        &--active {
            background-color: color-mix(in srgb, var(--_role_circle), var(--c-accent-primary) 5%);
            color: var(--c-accent-primary);
        }
        &--inactive {
            background-color: color-mix(in srgb, var(--_role_circle), var(--c-red-1) 5%);
            color: var(--c-red-1);
        }
    }
}
