@import "../../../../assets/styles/colors";

.navbar__item {
  list-style-type: none;

  &__button {
    font-family: "Secular One", sans-serif;
    border-radius: 5px;
    padding: 0.6rem 0.8rem;
    margin: 0.15rem 0.25rem;
    cursor: pointer;
    transition: 0.2s ease-in-out all;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #222222;
    background: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    position: relative;
    gap: 0.5rem;

    &:focus {
      outline-color: $blue-accent;
      outline-width: 2px;
      outline-offset: 2px;
    }

    &:hover {
      background: $white-1;
      color: #3d3d3d;
    }
  }

  &__icon {
    display: grid;
    place-items: center;
    font-size: 1.1rem;
  }
}

.theme-dark .navbar__item {
  &__button {
    color: $white-1;
    background: darken($dark-1, 10%);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    &:hover {
      background: darken($dark-1, 7%);
      color: $white-1;
    }
  }
}
