@import "../../assets/styles/colors";


.simple-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  .spinner-overlay {
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.34);
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    svg {
      height: 3rem;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & > div {
      height: 4.5rem;
    }

  }
  .btn-submit {
    margin-top: 1.5rem;
  }
}

.theme-dark .simple-form-container .spinner-overlay{
  background-color: rgba( $gray-bg-dark, 0.34);
}