@import "../../../assets/styles/colors";

.filter-tag {
	background: rgb(255, 255, 255);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	font-family: "Secular One", sans-serif;
	font-size: 0.8rem;
	margin: 0.2rem;
	padding: 2px 5px;
	white-space: nowrap;

	$colors: (
		"red" $tag-red white,
		"yellow" $tag-yellow rgb(49, 30, 23),
		"green" $tag-green white,
		"tiel" $tag-tiel rgb(61, 61, 61),
		"purple" $tag-purple white,
		"majenta" $tag-majenta black,
		"pink" $tag-pink black,
		"black" $tag-black white,
		"white" $tag-white black,
		"blue" $tag-blue rgb(255, 255, 255),
	);

	@each $name, $bg, $textColor in $colors {
		&.#{$name} {
			background: $bg;
			& > * {
				color: $textColor
			}
		}
	}

	.delete-tag {
		cursor: pointer;
		height: 1rem;
		width: 1rem;
	}
}
