$gray-bg: #f5f9fa;
$white-1: #fcfcfc;
$gray-1: #bfcdd0;
$light-blue-1: #e7f0f2;
$text-secondary: #626262;
$blue-accent: #19b2bd;
$blue-secondary-overlay: #f0f7f7;
$text-primary: #404040;
$blue-primary-overlay: #e0ebee;
$black-1: #222222;

// labels
$label-red: #fb8a8a;
$label-orange: #ffac4b;
$label-green: #3d5a44;
$label-blue: #8a95fb;
$label-pink: #ff52d9;
$label-yellow: #ffef5b;

// dark mode
$gray-bg-dark: #333637;
$dark-1: #474a4b;
$dark-2: #535657;
$dark-3: #6a6d6e;
$text-secondary-dark: #e0e0e0;
$text-primary-dark: #f0f0f0;
$blue-accent-dark: #91e5eb;

// tag colors
$tag-red: rgb(255, 103, 103);
$tag-yellow: rgb(255, 197, 36);
$tag-green:rgb(127, 231, 67);
$tag-tiel:rgb(146, 250, 233);
$tag-purple: rgb(192, 100, 204);
$tag-majenta: rgb(216, 116, 138);
$tag-pink: rgb(246, 174, 255);
$tag-black : rgb(29, 29, 29);
$tag-white: rgb(238, 238, 238);
$tag-blue: rgb(53, 42, 207);
