:root {
  --color-accent-primary: #19b2bd;
  --color-accent-secondary: #81e7ee;
  --color-bg: #f5f9fa;
  --color-header: #fcfcfc;

  --color-gray-dark-1: #535657;
  --color-gray-dark-2: #6a6d6e;

  --color-gray-light-1: #e7f0f2;
  --color-gray-light-2: #b0c2c5;
  --color-gray-light-3: #bcd4da;
  --color-font-main: #222222;
  --color-font-secondary: #575757;
  /// ---
  --color-task-bg: #fff;
  --color-boardcard-bg: #fff;
  --color-boardcard-columns: #e7f0f2;
  --color-board-scrollbar-bg: #d0e0e5;
  --color-board-scrollbar-thumb: #b0c2c5;
  --color-column-bg: #e0ebee;
  --color-column-secondary: #bcd4da;
  --color-column-text: #609ab5;
  --color-column-scrollbar-bg: #d0e0e5;
  --color-column-scrollbar-thumb: #b0c2c5;

}

[data-theme="DARK"] {
  --color-accent-primary: #91e5eb;
  --color-accent-secondary: #fff;
  --color-bg: #333637;
  --color-header: #474a4b;
  --color-font-main: #fcfcfc;
  --color-font-secondary: #dcddec;
  /// ---

  --color-task-bg: #6a6d6e;
  --color-boardcard-bg: #535657;
  --color-boardcard-columns: #6a6d6e;
  --color-board-scrollbar-bg: #3b3d3e;
  --color-board-scrollbar-thumb: #5d6061;
  --color-column-bg: #474a4b;
  --color-column-secondary: #6a6d6e;
  --color-column-text: #ffffff;
  --color-column-scrollbar-bg: #3b3d3e;
  --color-column-scrollbar-thumb: #5d6061;

}
