
@keyframes element-pop {
  0% {
    font-size: 0;
    opacity: 0;
    
  }
  80%{
    font-size: 2.4vh;
    @include mq-2 {
      font-size: 3.1vh;
    }
    @include mobile {
      font-size: 2.4rem;
    }
    opacity: 1;
  }
  100% {
    opacity: 1;
    font-size: 2vh;
    @include mq-2 {
      font-size: 3vh;
    }
    @include mobile {
      font-size: 2rem;
    }

  }
}
@keyframes element-slide-left {
  0% {
    opacity: 0;
    transform: translateX(20%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes element-slide-right {
  0% {
    opacity: 0;
    transform: translateX(-20%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes element-apear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
  
}