@import "../../assets/styles/mediaQueries";

.task-editor {
  & > section {
    overflow: auto;
    max-height: 70vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 3rem;
    padding-right: 0.5rem;
    @include mobile {
    max-height: 80vh;
      
    }
  }

  &__action-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  &__assignees,
  &__tags {
    max-width: 400px;
    @include mobile {
      max-width: unset;
    }
    & > label {
      font-weight: 600;
    }
    .async-input__input {
      margin: 0.5rem 0;
    }
  }

  &__tags {
    .tag-card {
      display: flex;
      justify-content: space-between;
      font-size: 1rem;
      padding: 0.3rem;
      &__remove {
        display: grid;
        place-items: center;
        background-color: transparent;
        border: none;
        cursor: pointer;
        border-radius: 4px;
        transition: background-color ease-in-out 0.1s;
        color: color-mix(in srgb, var(--_tag-color) 30%, black);

        &:hover {
          background-color: color-mix(in srgb, var(--_tag-color) 50%, white);
        }
      }
    }
  }
}
