@import "../../assets/styles/mediaQueries";

.backdrop {
  z-index: 900;
}

.modal-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -6rem;
  left: 0;
  position: absolute;
}

.modal {
  position: fixed;
  z-index: 999;
  background-color: white;
  width: 28rem;
  height: auto;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.445);
  padding: 1rem 2rem 2rem 2rem;
  box-sizing: border-box;
  border-radius: 10px;
  top: auto;
  transition: all 0.3s ease-out;

  display: flex;
  flex-direction: column;

  @include mobile {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 0;
    top: 6rem;
  }

  .close{
    align-self: flex-end;
    cursor: pointer;
    font-size: 1.4rem;
  }

}

.modal-open{
  animation: open-modal-animation 0.4s ease-out forwards;
  @include mobile {
    animation: auto;
  }
}

@keyframes open-modal-animation{
  0%{
    opacity: 0;
    transform: translateY(-100%);
  }
  50%{
    opacity: 1;
    transform: translateY(6%);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}