@import "../../assets/styles/mediaQueries";

.error-page {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: calc(100vh - var(--size-navbar-height) - var(--size-footer-height) - 3.5rem);
    position: relative;
  }
  & {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;

    &__image {
      height: 30rem;
      position: absolute;
      @include mq-1 {
        margin-top: 1.2rem;
        height: 20rem;
      }
    }
    &__title {
      font-size: 3rem;
      margin: 0;
      color: var(--color-font-main);
      @include mq-1 {
        font-size: 2.4rem;
      }
      &:after {
        content: "";
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background: var(--color-font-secondary);
      }
    }
    &__reason-phrase {
      margin: 0;
      margin-top: 10px;
      color: var(--color-font-main);
    }
  }
}
