@import "../../assets/styles/colors";


.simple-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  .loading-overlay {
     position: absolute;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & > div {
      height: 4.5rem;
    }

  }
  .btn-submit {
    margin-top: 1.5rem;
  }
}

.theme-dark .simple-form-container .spinner-overlay{
  background-color: rgba( $gray-bg-dark, 0.34);
}