@import "../../../assets/styles/colors";
.task-card {
  background-color: $white-1;
  width: 15rem;
  border-radius: 5px;
  margin: 0 0 8px 0;
  box-sizing: border-box;
  padding: 0.5rem 0.6rem;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.292);
  user-select: none;

  &--dragging {
    background-color: $blue-secondary-overlay;
  }

  &__title {
    margin: 0;
    font-size: 0.9rem;
    color: $text-primary;
    font-family: "Roboto", sans-serif;
    margin-bottom: 0.2rem;
  }

  &__avatar {
  $avatar-size: 1rem;
  height: $avatar-size;
  width: $avatar-size;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.292);
  border-radius: 50%;
  object-fit: cover;
}

  &__bottom {
    display: flex;
    flex-direction: row;
    cursor: default;
    justify-content: space-between;

    &__tags {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    &__users {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    &__more-users {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.6rem;
      background: rgb(207, 207, 219);
      height: 1rem;
      width: auto;
      padding: 0 0.2rem;
      border-radius: 50%;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    }
  }
}

.theme-dark .task-card {
  background-color: $dark-3;
  &--dragging {
    background-color: lighten($dark-3, 7%);
  }
  &__title {
    color: $text-primary-dark;
  }
}
