@import "../../../assets/styles/colors";

@keyframes task-skeleton-loading {
  0% {
    background-color: $white-1;
  }
  100% {
    background-color: lighten($blue-primary-overlay, 3%);
  }
}

.task-card--loading {
  background-color: $white-1;
  animation: task-skeleton-loading 1s linear infinite alternate;

  width: 15rem;
  border-radius: 5px;
  margin: 0 0 8px 0;
  box-sizing: border-box;
  padding: 0.5rem 0.6rem;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.292);
  user-select: none;

  &__title {
    margin: 0;
    font-size: 0.9rem;
    color: $text-primary;
    margin-bottom: 0.2rem;
    &::after {
      content: "";
      height: 1rem;
      width: 6rem;
      display: block;
      background-color: $blue-primary-overlay;
      border-radius: 3rem;
    }
  }

  &__avatar {
    $avatar-size: 1rem;
    height: $avatar-size;
    width: $avatar-size;
    border-radius: 50%;
    object-fit: cover;
    background-color: $blue-primary-overlay;
  }

  &__bottom {
    display: flex;
    flex-direction: row;
    cursor: default;
    justify-content: flex-end;

    &__users {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
}

@keyframes column-skeleton-loading {
  0% {
    background-color: darken($blue-primary-overlay, 3%);
  }
  100% {
    background-color: darken($blue-primary-overlay, 11%);
  }
}

.task-column--loading {
  display: flex;
  flex-direction: column;
  background-color: $blue-primary-overlay;
  border-radius: 10px;
  padding: 0.2rem 0.5rem;
  font-family: "Secular One", sans-serif;
  border: 2px solid transparent;
  box-shadow: 0 0 3px transparent;
  transition: all 0.2s ease-in-out;
  height: 100%;
  outline: $blue-accent;

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0.2rem 0;
    margin-bottom: 0.4rem;
    position: relative;

    &__task-count {
      color: darken($blue-primary-overlay, 50%);
      background: darken($blue-primary-overlay, 11%);
      animation: column-skeleton-loading 1s linear infinite alternate;

      border-radius: 3px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      min-width: 1rem;
      height: 1rem;
      font-size: 0.8rem;
      margin-right: 0.2rem;
    }

    &__name {
      flex-grow: 1;
      &::after {
        content: "";
        display: block;
        width: 5rem;
        height: 1rem;
        background-color: darken($blue-primary-overlay, 11%);
        animation: column-skeleton-loading 1s linear infinite alternate;

        border-radius: 3rem;
      }
    }
  }
  &__container {
    width: 16.5rem;
    max-height: 500px;
    overflow-y: scroll;
  }
}

@keyframes skeleton-loading {
  0% {
    background-color: white;
  }
  100% {
    background-color: $light-blue-1;
  }
}

.board-card--loading {
  outline: $blue-accent;
  $card-width: 12rem;
  $card-height: 6rem;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  width: $card-width;
  height: $card-height;
  border-radius: 7px;
  padding: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-decoration: none;
  transition: 0.3s ease-in-out all;
  animation: skeleton-loading 1s linear infinite alternate;

  &__columns {
    position: absolute;
    z-index: 0;
    display: flex;
    flex-direction: row;
    height: 70px;
    align-items: flex-start;
    &__column {
      background: $light-blue-1;
      animation: skeleton-loading 1s linear infinite alternate-reverse;

      width: 35px;
      height: 70px;
      margin: 0 7px;
      border-radius: 5px;
      transition: all ease-in-out 0.3s;
      &:nth-of-type(1) {
        height: 60px;
      }
      &:nth-of-type(2) {
        height: 30px;
      }
      &:nth-of-type(3) {
        height: 50px;
      }
      &:nth-of-type(4) {
        height: 70px;
      }
    }
  }
}

@keyframes skeleton-loading-dark {
  0% {
    background-color: $dark-1;
  }
  100% {
    background-color: darken($dark-1, 3%);
  }
}

.theme-dark .board-card--loading {
  background-color: $dark-2;
  animation: skeleton-loading-dark 1s linear infinite alternate;

  &__columns {
    &__column {
      background: lighten($dark-2, 3%);
      animation: skeleton-loading-dark 1s linear infinite alternate-reverse;
    }
  }
}
