.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 900;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  transition: 0.2s all;
  opacity: 0;
}

.backdrop-open{
  opacity: 1;
}

body .backdrop-open{
  overflow:hidden;
}