.notification {
    --_notification-bg-hover: var(--c-iceberg-4);
    --_notification-text-hover: var(--c-accent-primary);
    --_notification-elements: var(--c-iceberg-2);
    --_line-break-color: var(--c-iceberg-2);
}

[data-theme="DARK"] .notification {
    --_notification-bg-hover: var(--c-metal-5);
    --_notification-text-hover: var(--c-accent-secondary);
    --_notification-elements: var(--c-metal-4);
    --_line-break-color: var(--c-metal-2);
}

.notification {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.2rem;
    padding: 0.2rem;
    border-radius: 0.25rem;
    cursor: pointer;

    &__content {
        display: flex;
        flex: 1;
        flex-direction: column;
        margin: 0.25rem;

        hr {
            border-top: 1px solid var(--_line-break-color);
            margin: 0.2rem 0;
        }
    }
    &__header {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.25rem;
        color: var(--c-font-primary);
    }
    &__title,
    &__icon {
        color: inherit;
        font-size: 0.85rem;
    }

    &__icon {
        background-color: var(--_notification-elements);
        padding: 0.3rem;
        box-sizing: unset;
        border-radius: 0.3rem;
    }

    &__message {
        margin: 0;
        font-size: 0.75rem;
        color: var(--c-font-secondary);
    }
    &__close {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0.25rem;
        align-self: flex-start;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 3px;
        cursor: pointer;
        background-color: transparent;
        border: none;
        color: var(--c-font-primary);
        visibility: hidden;
        &:hover {
            background-color: var(--_notification-elements);
        }
    }
    &:hover {
        background-color: var(--_notification-bg-hover);
    }
    &:hover & {
        &__close {
            visibility: visible;
        }
        &__header,
        &__message {
            color: var(--_notification-text-hover);
        }
    }
}
