[data-theme="DARK"] .notification {
  --_notification-bg-hover: var(--c-metal-4);
}

.notification {
  --_notification-bg-hover: var(--c-iceberg-2);
}

.notification {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.4rem 0.5rem;
  border-radius: 0.25rem;
  cursor: default;

  &__content {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0.25rem;

    hr {
      border-top: 1px solid rgb(222, 222, 222);
      width: 100%;
      margin: 0;
      margin-bottom: 0.2rem;
    }
  }
  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    color: var(--c-font-primary);
  }
  &__title,
  &__icon {
    color: inherit;
    font-size: 1rem;
  }

  &__message {
    margin: 0;
    color: var(--c-font-secondary);
  }
  &__close {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.25rem;
    align-self: flex-start;
    margin-top: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 3px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    visibility: hidden;
    &:hover {
      background-color: var(--_notification-bg-hover);
    }
  }
  &:hover {
    background-color: var(--_notification-bg-hover);
  }
  &:hover & {
    &__close {
      visibility: visible;
    }
  }
}
