.notification {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.4rem 0.5rem;
  border-radius: 0.25rem;
  cursor: default;
  &:hover {
    background-color: rgb(236, 236, 236);
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin: 0.25rem;

    hr {
      border-top: 1px solid rgb(222, 222, 222);
      width: 100%;
      margin: 0;
      margin-bottom: 0.2rem;
    }
  }
  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    color: var(--color-font-primary);
  }
  &__title,
  &__icon {
    font-size: 1rem;
  }

  &__message {
    margin: 0;
    color: var(--color-font-secondary);
  }
  &__close {
    width: 4rem;
    height: 100%;
    cursor: pointer;
    background-color: transparent;
    border: none;
  }
}
