.column-name {
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  flex: 1;

  &--input {
    background-color: white;
    border: none;
    cursor: default;
    outline: none;
    margin: 0;
    padding: 0;
    width: 5rem;
  }
  &--text {
    cursor: default;
  }
}
