.column-name-input {
  background: transparent;
  font-family: "Secular One", sans-serif;
  border: dashed 1px green;
  flex-grow: 1;
  outline: none;
  color: red;
}

.task-column-name {
  margin: 0;
  margin-left: 0;
  margin-right: auto;
  font-size: 1rem;
  margin-left: 0.5rem;
  color: green;
}
