@import "../../assets/styles/colors";
@import "../../assets/styles/variables";
.board-page-wrapper {
	.task-loading {
		position: relative;
		background: red;
		min-height: calc(100vh - #{$navbar-height} - #{$footer-height} - 3.5rem);
	}
	.board-page {
		margin: 0 1rem;
		min-height: calc(100vh - #{$navbar-height} - #{$footer-height} - 3.5rem);
		display: flex;
		flex-direction: column;
		.board-title {
			margin: 2rem 1rem;
			.text-title {
				font-family: "Secular One", sans-serif;
			}
			.expand-content {
				color: $text-secondary;
			}
		}
		.add-new-column {
			display: flex;
			flex-direction: column;
			background-color: $blue-primary-overlay;
			border-radius: 10px;
			margin: 0 0.5rem;
			padding: 0.2rem 0.5rem;
			font-family: "Secular One", sans-serif;
			width: 250px;
			height: 30px;
			align-items: center;
			justify-content: center;
			position: relative;
			border: 1px darken($blue-primary-overlay, 40%) dashed;

			input {
				outline: none;
				height: 100%;
				width: 100%;
				background: transparent;
				border: none;
				font-family: "Secular One", sans-serif;
				margin: 0 0.5rem;
				box-sizing: border-box;
				&::placeholder {
					color: darken($blue-primary-overlay, 30%);
				}
			}
		}
		.board-page-container {
			display: flex;
			flex-direction: row;
			overflow-x: scroll;
			padding: 1rem 0;
			flex-grow: 1;
			flex-grow: 1;

			&::-webkit-scrollbar {
				height: 0.5em;
			}

			&::-webkit-scrollbar-track {
				background: $gray-1;
				border-radius: 5px;
			}

			&::-webkit-scrollbar-thumb {
				background-color: darken($gray-1, 15%);
				border-radius: 10px;
			}

			.board-page-flex {
				display: flex;
				flex-direction: row;
				align-items: flex-start;
				height: 100%;
				& > div {
					height: 100%;
				}
			}
		}
		.board-button-group {
			margin: 1rem 0.5rem;
			display: flex;
			flex-direction: row;
			.MuiSvgIcon-root {
				height: 1rem;
			}
			.board-options {
				display: flex;
				justify-content: center;
				align-items: center;
				.MuiSvgIcon-root {
					height: 1.4rem;
					width: 1.4rem;
					color: #222222;
					cursor: pointer;
				}

			}
		}
	}
}

.theme-dark .board-page-wrapper {
	.board-page-container {
		&::-webkit-scrollbar-track {
			background: $dark-1;
			border-radius: 5px;
		}

		&::-webkit-scrollbar-thumb {
			background-color: $dark-3;
			border-radius: 10px;
		}
	}
	.board-page .board-title {
		svg {
			color: $text-primary-dark;
		}
		.text-title {
			color: $text-primary-dark;
		}
		.expand-content {
			color: $text-secondary-dark;
		}
	}
	.add-new-column {
		background-color: $dark-1;
		border-color: $dark-3;

		input {
			color: white;
			background: transparent;
			&::placeholder {
				color: darken(white, 30%);
			}
		}
	}
	.board-button-group {
		.board-options {
			.MuiSvgIcon-root {
				color: lighten(#222222, 30%);
			}
		}
	}
}
