@import "../../assets/styles/mediaQueries";
@import "../../assets/styles/colors";

.dashboard-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	.board-container {
		position: relative;
	}
	.board-container-wrapper {
		position: relative;
		max-width: 970px;
	}

	.new-board-btn {
		margin-left: 1rem;
		margin-top: 1rem;
		background-color: $black-1;
		color: white;
		font-size: 0.9rem;
		padding: 3px 5px;
		border-radius: 3px;
		display: flex;
		align-items: center;
		justify-content: center;
		&:hover {
			background: lighten($black-1, 10%);
		}
		.MuiSvgIcon-root {
			height: 1.1rem;
			width: 1.1rem;
			margin-right: 0.2rem;
		}
	}

	.pinned-boards .loading-overlay,
	.main-boards .loading-overlay {
		position: relative;
	}
	.main-boards {
		.board-container, .loading-overlay  {
			min-height: 16rem;
			@include mq-2 {
				height: 24rem;
			}
			@include mq-1 {
				height: 32rem;
			}
			@include mobile {
				height: 59rem;
			}
		}
	}
}
