@import "../../assets/styles/mixins";

.welcome-section {
  margin: 3rem 4rem 0;
  @include breakpoint(small) {
    margin: 1rem;
  }
  &__introduction {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 90vh;
    gap: 6vh;
    @include breakpoint(small) {
      grid-template-columns: 1fr;
    }
    .person-image {
      display: flex;
      height: 70vh;
      width: 70vh;
      margin-right: 0;
      margin-left: auto;
      opacity: 0;
      @include breakpoint(medium) {
        height: 50vh;
        width: 50vh;
      }
      @include breakpoint(small) {
        height: 90%;
        width: 90%;
        order: 1;
        margin: 0 auto;
      }
    }
    &__text-subsection {
      h1 {
        font-size: 7vh;
        margin: 0;
        color: var(--c-font-primary);
        opacity: 0;
      }
      hr {
        opacity: 0;
      }
      h2 {
        font-size: 4vh;
        margin: 0;
        color: var(--c-font-primary);
        opacity: 0;
      }
      p {
        font-size: 3vh;
        max-width: 40wv;
        color: var(--c-font-secondary);
        opacity: 0;
      }
      .join-now {
        margin: 0 auto;
        margin-top: 2rem;
        font-size: 2.5vh;
        padding: 1.5vh 3vh;
        opacity: 0;
        @include breakpoint(small) {
          font-size: 1.5rem;
        }
      }
    }
  }
  &__explainer {
    gap: 6vh;
    min-height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include breakpoint(small) {
      grid-template-columns: 1fr;
    }
    .task-columns-image {
      display: flex;
      height: 60vh;
      width: 60vh;
      margin: 0 auto;
      @include breakpoint(small) {
        height: 40vh;
        width: 40vh;
      }
    }
    &__text-subsection {
      h2 {
        font-size: 7vh;
        margin: 0;
        color: black;
      }
      ul {
        padding-left: 4vh;
        color: var(--c-font-primary);
        li {
          font-size: 3vh;
          margin-top: 0.5rem;
        }
      }
    }
  }
}

