@import "../../../../assets/styles/colors";

.tag-button {
  height: 3rem;
  width: 3rem;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(44, 45, 49, 0.315);
  position: relative;
  &:after {
    content: "";
    height: 3rem;
    width: 3rem;
    background: rgb(255, 255, 255);
    display: block;
    transform: translateY(0);
    transition: all ease-in-out 0.3s;
    border-radius: 5px;
    z-index: -1;
  }
  svg {
    position: absolute;
    z-index: 2;
    transform: translate(-50%, 20%);
    transition: all ease-in-out 0.3s;
    padding: 0.35rem;
    border-radius: 5px;
    font-size: 1.4rem;
  }

  &--selected {
    svg {
      transform: translate(-50%, -10%);
    }
    &:after {
      transform: translateY(-20%);
    }
  }

  $colors: (
    "red" $tag-red rgb(172, 45, 7),
    "yellow" $tag-yellow rgb(207, 112, 3),
    "green" $tag-green rgb(51, 109, 54),
    "tiel" $tag-tiel rgb(83, 83, 98),
    "purple" $tag-purple rgb(77, 70, 90),
    "majenta" $tag-majenta rgb(240, 192, 225),
    "pink" $tag-pink rgb(161, 40, 77),
    "black" $tag-black rgb(227, 228, 236),
    "white" $tag-white rgb(59, 62, 65),
    "blue" $tag-blue rgb(93, 151, 209)
  );

  @each $name, $color, $textColor in $colors {
    &.#{$name} {
      background: mix($color, rgb(29, 18, 18), 80%);
      &:after {
        background: $color;
      }
      svg {
        background: $textColor;
        fill: $color;
      }
    }
  }
}
