$gray-bg: #F5F9FA;
$white-1: #FCFCFC;
$gray-1: #BFCDD0;
$text-secondary: #626262;
$blue-accent: #19B2BD;
$blue-secondary-overlay: #F0F7F7;
$text-primary: #404040;
$blue-primary-overlay: #E0EBEE;
$black-1: #222222;

// labels
$label-red: #FB8A8A;
$label-orange: #FFAC4B;
$label-green: #63FF85;
$label-blue: #8A95FB;
$label-pink: #FF52D9;
$label-yellow: #FFEF5B;

// dark mode
$gray-bg-dark: #333637;
$dark-1: #474A4B;
$dark-2: #535657;
$blue-accent-dark: #7EC3C8;