@import "../../../assets/styles/colors";
@import "../../../assets/styles/variables";
@import "../../../assets/styles/mediaQueries";

.navbar {
  background: $white-1;
  height: $navbar-height;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem 1rem;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 1rem;
  z-index: 50;
  position: relative;
}

.theme-dark .navbar {
  background: $dark-1;
}
