@import "../../../assets/styles/mediaQueries";
@import "../../../assets/styles/colors";


.task-editor {
	display: grid;
	grid-template-columns: 5fr 1fr;
	grid-gap: 1rem;
	&__inputs {
		display: flex;
		flex-direction: column;
		margin: 0 1rem;
	}
	&__btn {
		grid-column: 1 / 3;
		display: grid;
		place-items: center	;
	}
}