@import "../../../assets/styles/mediaQueries";
@import "../../../assets/styles/colors";

.new-task-container {
	margin: 2rem 3rem;
	display: flex;
	flex-direction: row;
	position: relative;
	& > form {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
		width: 100%;
		@include mq-1 {
			grid-template-columns: 1fr;
		}
		& > * {
			margin: 0 1rem;
			@include mq-1 {
				margin: 0;
			}
		}

		.fields {
			width: 15rem;
			height: 100%;
			display: flex;
			flex-direction: column;
			@include mq-1 {
				width: auto;
			}
			& > * {
				&.new-task-input {
					margin-bottom: 1rem;
					.MuiInputLabel-outlined {
						transform: translate(14px, 13px) scale(1);
					}
					.MuiInputLabel-shrink {
						transform: translate(14px, -6px) scale(0.75);
					}
				}
				.MuiInputBase-input,
				.MuiInputBase-multiline {
					padding: 0.6rem;
					@include mq-1 {
						margin-bottom: 1rem;
					}
					textarea {
						padding: 0;
					}
				}
			}
		}
		.board-name-field {
			height: 4.5rem;
		}
		.board-description-field {
			margin-top: 1rem;
			height: 11.5rem;
		}
		.user-container {
			height: 100%;
			display: flex;
			margin-top: 1rem;
			flex-direction: column;
			.auto-complete-input-wrapper,
			.user-card-container {
				margin: 1rem 0;
			}
			.user-card-container {
				overflow-y: hide;
				width: 100%;
				max-height: 10rem;

				&.overflow-scroll {
					overflow-y: scroll;
				}
				&::-webkit-scrollbar {
					width: 0.5em;
				}

				&::-webkit-scrollbar-track {
					background: darken($blue-primary-overlay, 5%);
					border-radius: 5px;
				}

				&::-webkit-scrollbar-thumb {
					background-color: darken($gray-1, 5%);
					border-radius: 10px;
				}
				.user-card {
					margin-left: 0;
				}
			}
		}
		.list-of-tags {
			margin-top: 1rem;
			grid-column: 1/3;
			@include mq-1 {
				grid-column: auto;
			}

			.chosen-tags-container {
				margin-top: 1rem;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				max-width: 32rem;
				min-height: 2rem;
			}
		}

		.btn-submit {
			grid-column: 1/3;
			margin: auto;
			margin-top: 1rem;
			@include mq-1 {
				grid-column: auto;
			}
		}
		
	}
	.loading-overlay {
		position: absolute;
	}
}

.theme-dark .new-task-container .user-container .user-card-container {
	&::-webkit-scrollbar-track {
		background: $dark-1;
	}
	&::-webkit-scrollbar-thumb {
		background-color: $dark-3;
	}
}

$colors: (
	"red" $tag-red white,
	"yellow" $tag-yellow rgb(49, 30, 23),
	"green" $tag-green rgb(36, 59, 26),
	"tiel" $tag-tiel rgb(61, 61, 61),
	"purple" $tag-purple white,
	"majenta" $tag-majenta black,
	"pink" $tag-pink black,
	"black" $tag-black white,
	"white" $tag-white black
);

.drop-down-menu.tag-drop-down {
	.drop-down-menu__item {
		padding: 0;
		.tag-item {
			height: 100%;
			width: 100%;
			padding: 0.6rem;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			font-weight: bold;
		}
		@each $name, $color, $text in $colors {
			.tag-item.#{$name} {
				background: mix($color, white, 70%);
				color: mix($text, white, 80%);
				transition: all ease-in-out 0.2s;
				&:hover {
					background: $color;
					color: $text;
				}
			}
		}
	}
}
