.pagination {
  --_current-page-bg-color: var(--c-accent-primary);
  --_current-page-text-color: var(--c-iceberg-4);
}

[data-theme="DARK"] .pagination {
  --_current-page-bg-color: var(--c-accent-secondary);
  --_current-page-text-color: var(--c-metal-1);
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  $pagination-item-size: 1.5rem;
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    color: var(--c-font-primary);
    border: none;
    margin: 0.5rem;
    width: $pagination-item-size;
    height: $pagination-item-size;
    border-radius: 5px;
    cursor: pointer;
    outline-color: var(--_current-page-bg-color);
  }
  &__current-page {
    background-color: var(--_current-page-bg-color);
    color: var(--_current-page-text-color);
  }
  &__elipsis {
    width: 0.8rem;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    color: var(--c-font-primary);
    cursor: default;
    user-select: none;
    &.hide {
      width: 0;
    }
  }
  .empty {
    width: $pagination-item-size + $pagination-item-size + 2rem;
    height: $pagination-item-size;
  }
}
